{#
   Logo
   Outputs project logo

   @type {include}
   @param {string} fill
   @param {string} size
#}

{#-- Replace below logo with project logo but keep the size and fill variables - this is the Myth logo for example purposes --#}

<?xml version="1.0" encoding="UTF-8"?>
<svg class="w-{{ size }}" viewBox="0 0 150 55" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Project Name</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="MythDigital" transform="translate(0.000000, 0.000300)" fill="#{{ fill }}">
            <path d="M45.749,44.022 L45.749,25.745 C45.749,19.694 42.134,18.423 39.102,18.423 C35.137,18.423 31.136,20.95 31.136,26.595 L31.136,44.022 L22.875,44.022 L22.875,25.745 C22.875,21.023 20.524,18.423 16.256,18.423 C11.549,18.423 8.261,21.784 8.261,26.595 L8.261,44.022 L-1.0658141e-14,44.022 L-1.0658141e-14,11.51 L8.261,11.51 L8.261,15.733 C10.472,12.654 14.147,10.924 18.629,10.924 C23.8,10.924 27.235,13.151 29.098,17.722 C30.903,14.396 34.438,10.924 41.327,10.924 C49.032,10.924 54.01,15.477 54.01,22.523 L54.01,44.022 L45.749,44.022 Z" id="Fill-1"></path>
            <path d="M62.6865,54.8882 C60.8565,54.8882 59.6485,55.0062 57.2395,54.4452 L56.7815,54.3382 L56.7505,46.8122 L57.3185,46.9312 C58.9565,47.2762 60.3265,47.5062 61.6905,47.5062 C64.9665,47.5062 67.2045,46.0612 68.5235,43.0902 L54.6545,11.5102 L63.7055,11.5102 L72.9865,34.9312 L81.7765,11.5102 L90.7595,11.5102 L76.2625,46.1952 C74.8445,49.4412 71.1955,54.8882 62.6865,54.8882" id="Fill-4"></path>
            <path d="M93.3124,11.5103 L93.3124,4.3743 L101.5734,2.0573 L101.5734,11.5103 L111.5314,11.5103 L111.5314,18.9803 L101.5734,18.9803 L101.5734,32.6863 C101.5734,34.9833 102.2154,37.1083 106.8744,37.1083 C108.1594,37.1083 109.6294,36.9393 111.3694,36.5923 L111.9524,36.4753 L112.5024,43.5003 L112.0544,43.5993 C109.3784,44.1913 106.8964,44.4903 104.6774,44.4903 C93.3124,44.4903 93.3124,36.7083 93.3124,34.1513 L93.3124,18.9803" id="Fill-6"></path>
            <path d="M141.5292,44.022 L141.5292,26.126 C141.5292,21.087 138.9362,18.423 134.0322,18.423 C129.4402,18.423 124.8062,21.149 124.8062,27.239 L124.8062,44.022 L116.5462,44.022 L116.5462,1.77635684e-14 L124.8062,1.77635684e-14 L124.8062,15.918 C127.2722,12.603 131.0562,10.924 136.0822,10.924 C144.5372,10.924 149.7902,15.672 149.7902,23.314 L149.7902,44.022 L141.5292,44.022 Z" id="Fill-8"></path>
        </g>
    </g>
</svg>