<div id="mob-nav" class="mobile-nav fixed top-0 z-40 bg-black w-full h-full block md:hidden">
  <div class="flex items-center h-full w-full">
    <nav class="text-white w-full text-left px-5">
      <a href="{{ siteUrl }}" class="mb-0 leading-tight text-3xl tracking-tighter font-bold font-sans-primary">Home</a>
    </nav>
  </div>
</div>