// Font Face
@include font-face('Manrope', 'Manrope-ExtraLight', 100, 'normal');
@include font-face('Manrope', 'Manrope-Light', 300, 'normal');
@include font-face('Manrope', 'Manrope-Regular', 400, 'normal');
@include font-face('Manrope', 'Manrope-Medium', 500, 'normal');
@include font-face('Manrope', 'Manrope-SemiBold', 600, 'normal');
@include font-face('Manrope', 'Manrope-Bold', 700, 'normal');

// Body
html {
   @apply text-base;
}

body {
   -webkit-font-smoothing: subpixel-antialiased;
   -webkit-text-stroke:1px transparent;
   &.nav-active {
      @apply overflow-hidden;
   }
  @apply
     font-sans-primary
     text-gray-800
     text-optimize-legibility
     antialiased;
}

// Links

a {
   @apply transition;
}

// Typography

h1, .h1 {
   @apply font-sans-primary
   text-4xl
   tracking-tighter
   font-bold;
   line-height: 1.05 !important;
   @include responsive($md) {
      @apply text-3xl;
   }
   &.super {
      @apply text-5xl;
      @include responsive($md) {
         @apply text-3xl;
      }
   }
   a {
      @apply font-sans-primary;
   }
}

h2, .h2 {
   @apply font-sans-primary
   text-3xl
   font-bold
   tracking-tight;
   line-height: 1.25 !important;
   @include responsive($sm) {
      @apply text-xl;
   }
   a {
      @apply font-sans-primary;
   }
}

h3, .h3 {
   @apply font-sans-primary
   text-xl
   font-bold
   tracking-tight;
   line-height: 1.25 !important;
   @include responsive($sm) {
      @apply text-lg;
   }
   a {
      @apply font-sans-primary;
   }
}

.text-columns {
   h2, .h2 {
      @apply text-xl;
   }
}

p {
   font-weight: 300;
   @apply mb-4;
   // &:last-of-type {
   //    @apply mb-0;
   // }
   &:empty {
      @apply hidden;
   }
   a {
      @apply underline;
   }
   strong {
      font-weight: 800;
   }
}

p, a, span, ul, ol {
   @apply font-sans-primary;
}

// Selection

::selection {
   @apply
      text-gray-500
      bg-gray-100;
}

// FOUT fix

.wf-loading {
   @apply invisible;
}

.wf-active,
.wf-inactive {
   @apply visible;
}

// Layout
